ion-tabs{
  background-color: transparent;
  border-top: 3px solid #6d6d6d;
}


ion-toolbar{
  --ion-background-color: #141414;
}

ion-card-content{
  font-size: 14px;
  font-weight: 600;
}

ion-tab-bar {
  --ion-background-color: #141414;
}

ion-icon{
  color: white;
}

.texto-tab{
  color: white;
}


#h1{
  color: white;
}
