<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="color: white; font-weight: 600;">
      Página Inicial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-app>
<ion-content class="teste" [fullscreen]="true">

  <ion-card>
    <img alt="Silhouette of mountains" src="https://tntsports.com.br/__export/1695075063552/sites/esporteinterativo/img/2023/09/18/guia-da-champions-gp-a.png_651061590.png" />
    <ion-card-header>
      <ion-card-title>Grupo A: veja como chegam Bayern, Man. United, Copenhague e Galatasaray na Champions</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Equipes se enfrentam na fase de grupos da Champions League 2023/24
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://tntsports.com.br/__export/1695081864626/sites/esporteinterativo/img/2023/09/18/guia-da-champions-gp-b.png_1505611282.png" />
    <ion-card-header>
      <ion-card-title>Grupo B: veja como chegam Sevilla, Arsenal, PSV e Lens na Champions</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Equipes se enfrentam na fase de grupos da Champions League 2023/24
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://tntsports.com.br/__export/1695082994818/sites/esporteinterativo/img/2023/09/18/guia-da-champions-gp-c.png_1204395955.png" />
    <ion-card-header>
      <ion-card-title>Grupo C: veja como chegam Napoli, Real Madrid, Braga e Union Berlin na Champions</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Equipes se enfrentam na fase de grupos da Champions League 2023/24
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://tntsports.com.br/__export/1695086576392/sites/esporteinterativo/img/2023/09/18/guia-da-champions-gp-d.png_2123482603.png" />
    <ion-card-header>
      <ion-card-title>Grupo D: veja como chegam Benfica, Inter de Milão, Salzburg e Real Sociedad na Champions</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Equipes se enfrentam na fase de grupos da Champions League 2023/24
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://tntsports.com.br/__export/1695070379330/sites/esporteinterativo/img/2023/09/18/guia-da-champions-gp-e.png_1505606384.png" />
    <ion-card-header>
      <ion-card-title>Grupo E: veja como chegam Feyenoord, Atlético de Madrid, Lazio e Celtic na Champions</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Equipes se enfrentam na fase de grupos da Champions League 2023/24
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://tntsports.com.br/__export/1695116190950/sites/esporteinterativo/img/2023/09/18/guia-da-champions-gp-f_1.png_1527633588.png" />
    <ion-card-header>
      <ion-card-title>Grupo F: veja como chegam PSG, Borussia Dortmund, Milan e Newcastle na Champions</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Equipes se enfrentam na fase de grupos da Champions League 2023/24
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://tntsports.com.br/__export/1695073460262/sites/esporteinterativo/img/2023/09/18/guia-da-champions-gp-g.png_370334891.png" />
    <ion-card-header>
      <ion-card-title>Grupo G: veja como chegam City, RB Leipzig, Estrela Vermelha e Young Boys na Champions</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Equipes se enfrentam na fase de grupos da Champions League 2023/24
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://tntsports.com.br/__export/1695094884511/sites/esporteinterativo/img/2023/09/19/guia-da-champions-gp-h.png_651062764.png" />
    <ion-card-header>
      <ion-card-title>Grupo H: veja como chegam Barcelona, Porto, Shakhtar e Royal Antuérpia na Champions</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Equipes se enfrentam na fase de grupos da Champions League 2023/24
    </ion-card-content>
  </ion-card>
</ion-content>
</ion-app>
